<!-- baseファイルを読み込むための準備 -->
{% extends 'app/base.html' %}

<!--
動的に変わるエリアをblockで囲む
baseファイルで書いたblock名と同じ部分が書き変わる
-->
{% block content %}

<div class="row my-4">
    <div class="col-md-8">
        <!-- ビューで作成したpost_dataはリスト形式なのでループして中身を取得 -->
        {% for post in post_data %}
            <div class="card mb-4 index">
                {% if post.image %}
                    <!-- 画像を指定する際はpost.image.urlとurlまで記載する -->
                    <img  class="card-img-top index-img" src="{{ post.image.url }}" alt="">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <!-- contentの中身を100文字まで表示する -->
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                    <div class="btn btn-warning">詳細</div>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created|date }} by {{ post.author }}
                </div>
                <!-- 詳細画面へのリンクを追加 -->
                <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">このチュートリアルについて</h5>
            <div class="card-body">
                <p>ステップ１</p>
                <p class="mb-0">
                    初めてDjangoを触る方向けのチュートリアルです。
                    最小限の昨日を構築してDjangoを学習しましょう
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}